@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero-service {
  background: url('./assets/serviceHero.png');
}

.hero-about {
  background: url('./assets/aboutHero.png');
  background-position-x: -11.25rem;
}

.hero {
  background: url('./assets/hero2.png');
}
.about-sticks {
  background: url('./assets/aboutSticks.png');
  background-position-x: -11.25rem;
}

.about-left {
  background: url('./assets/aboutLeft.png');
  background-size: cover;
}

.about-right {
  background: url('./assets/aboutRight.png');
  background-size: cover;
}
@media screen and (min-width: 576px) {
  .hero-about,
  .about-sticks {
    background-position-x: 0;
  }
}

.hero,
.hero-service,
.hero-about,
.about-sticks {
  max-width: 80rem;
  height: 31.8rem;
  background-size: cover;
}
.circle {
  background: url('./assets/sticks.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

@layer components {
  .btn-primary {
    @apply h-16 w-full rounded bg-[#232323] font-bold uppercase text-white hover:bg-slate-800 sm:w-96;
  }
  .form-input {
    @apply mb-6 h-16 w-full border-b border-black bg-[#ededed] p-4 focus:border-transparent focus:outline focus:outline-2 focus:outline-black sm:w-96;
  }
  .form-errors {
    @apply absolute top-16 text-xs text-red-600;
  }
}
