@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  max-width: 80rem;
  height: 31.8rem;
  background: url('./assets/hero.png');
  background-position: center;
  background-size: cover;
}

.circle {
  background: url('./assets/sticks.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
